{
  "extends": [
    "defaults"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  }
}
